<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h6><a href="/">Add User</a></h6>
    <div class="container">
        <table class="table table-border table-bordered text-center shadow">
            <tr>
                <td>user id</td>
                <td>user name</td>
                <td>user email</td>
                <td>user password</td>
                <td>user delete</td>
                <td>user update</td>
            </tr>
            <% users.forEach(function(user){ %>
            <tr>
                <td><%=user._id%></td>
                <td><%=user.name%></td>
                <td><%=user.email%></td>
                <td><%=user.password%></td>
                <td><a href="/delete/<%=user._id%>" class="btn btn-danger">Delete</a></td>
                <td><a href="/edit/<%=user._id%>" class="btn btn-success">edit</a></td>
            </tr>
            <% }) %>
        </table>
    </div>
</body>
</html>